* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #444e56 0%, #0f3443 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(20, 24, 31, 0.7);
    border-radius: 32px;
    box-shadow: 0 8px 32px 0 rgba(20, 24, 31, 0.37);
    max-width: 700px;
    width: 100%;
    margin: 40px auto;
    padding: 40px 32px 32px 32px;
    text-align: center;
    border: none;
    position: relative;
    color: #fff;
}

h1 {
    margin-bottom: 32px;
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 0 2px 16px rgba(0,0,0,0.18);
}

input {
    width: 60%;
    padding: 14px;
    border: none;
    border-radius: 24px;
    font-size: 1.1rem;
    margin-bottom: 18px;
    background: #181c23;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

input::placeholder {
    color: #bdbdbd;
}

input:focus {
    outline: 2px solid #f6d6d6;
}

button {
    padding: 14px 28px;
    border: none;
    background: #f6d6d6;
    color: #181c23;
    font-size: 1.1rem;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

ul {
    list-style: none;
    margin-top: 28px;
    padding: 0;
}

li {
    padding: 16px 18px;
    
    color: #ffffff;
    font-size: 1.1rem;
    border: none;
    font-weight: 600;
    font-size: larger;
}

span {
    background: rgba(20, 24, 31, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 12px;
}
